import React from 'react';

import { Container, Title } from './{{lowerCase name}}.style';

export default function {{pascalCase name}}(): JSX.Element {
  return (
    <Container>
      <Title>{{pascalCase name}}</Title>
    </Container>
  );
}
